{% extends 'seller/template.html' %}

{% block title %}Add Product{% endblock title %}

{% block body %}
<div class="add_product">

    <br>

<h1>Add Product</h1>
<hr style="width: 80px; height: 5px; background-color:black; border-radius: 10px; border: none;">

    <br>
    <br>

<form action="{% url 'add_product' %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <label for="product_name">Name:</label>
    <br>
    <input type="text" name="product_name" id="product_name" required>
    <br>
    <br>
    <label for="product_image">Image Link:</label>
    <br>
    <input type="file" name="product_image" accept="image/png, image/jpeg" id="product_image" required>
    <br>
    <br>
    <label for="product_price">Price:</label>
    <br>
    <input type="text" name="product_price" id="product_price" required>
    <br>
    <br>
    <label for="product_description">Description:</label>
    <br>
    <textarea name="product_description" id="product_description" cols="65" rows="10" required></textarea>
    <br>
    <br>
    <label for="product_category">Category:</label>
    <br>
    <select name="product_category" id="product_category" required>
        <option value="Select Category" disabled selected>Select Category</option>
        <option value="mobiles">Mobiles</option>
        <option value="electronics">Electronics</option>
        <option value="cosmetics">Cosmetics</option>
        <option value="fashion">Fashion</option>
        <option value="toys">Toys</option>
        <option value="pharmacy">Pharmacy</option>
        <option value="Furniture">Furniture</option>
    </select>
    <br>
    <br>
    <br>    
    <input type="submit" value="Add Product">
</form>

<br>

<br>

<br>

<br>

<br>


</div>
{% endblock body %}

