{% extends 'seller/template.html' %}

{% block title %}My Order | Seller{% endblock title %}

{% block body %}
<div class="orders_seller">

    <br>

<h1>Orders</h1>
<hr style="width: 80px; height: 5px; background-color:black; border-radius: 10px; border: none;">

<br>
<br>

{% if empty == None %}
<br><br><br><br>
<h2 style = "text-align:center;"> No Orders to list!!</h2>
{% else %}

<div class="orderstable" style="background-color: rgb(193, 192, 192);">
    <div class="order_id">Order ID</div>
    <div class="customer_id">Customer ID</div>
    <div class="product_id">Product ID</div>
    <div class="product_quantity">Quantity</div>
    <div class="product_price" style="border:none;">Price</div>
</div>

<br>
<br>

<a href="order.html">
    <div class="orderstable">
        <div class="order_id">00071</div> 
        <div class="customer_id">8793</div>
        <div class="product_id">0001</div>
        <div class="product_quantity">1</div>
        <div class="product_price" style="border:none;">Rs 54000</div>
    </div>
</a>

<br>

{% endif %}
</div>
{% endblock body %}



