<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
    {% if messages %}
        
        {% for message in messages %}
        <div id="alert_popup" style="display:flex;">
            <div id="alert_context">
                {{message}}
            </div>
            <button onclick="closepopup()">x</button>
        </div>

        {% endfor %}
        
        {% endif %}

    <main>

        <header>

            <a href="{% url 'seller_index' %}" style="text-decoration:none;"><h1>SAFY<span style="font-size: 20px;">Pay</span></h1></a>

            <nav>
                <a href="{% url 'seller_index' %}"><img src="{% static 'seller/img/home.png' %}">&nbsp;Home</a>
                <a href="{% url 'add_product' %}"><img src="{% static 'seller/img/newlisting.png' %}">&nbsp;New listing</a>
                <a href="{% url 'list_product' %}"><img src="{% static 'seller/img/products.png' %}">&nbsp;Products</a>
                <a href="{% url 'orders' %}"><img src="{% static 'seller/img/orders.png' %}">&nbsp;Orders</a>
            </nav>

            <div id="profile_badge">

                <button>
                    <img src="{% static 'seller/img/profile.png' %}"> &nbsp; <p>Mithun Raj</p>
                </button>

                

            </div>

        </header>

        <div id="container">
            {% block body %}{% endblock body %}
            

        </div>

        <footer>
            <p>All rights reserved.</p>
        </footer>

    </main>
    <script src="{% static 'script.js' %}"></script>
    
</body>
</html>