
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Template</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <main>

        <header>

            <h1>SAFE<span style="font-size: 20px;">Pay</span></h1>

            <nav>
                <a href="{% url 'seller_index' %}"><img src="{% static 'seller/img/home.png' %}">&nbsp;Home</a>
                <a href="{% url 'add_product' %}"><img src="{% static 'seller/img/newlisting.png' %}">&nbsp;New listing</a>
                <a href="{% url 'view_product' %}"><img src="{% static 'seller/img/products.png' %}">&nbsp;Products</a>
                <a href="seller_orders.html"><img src="{% static 'seller/img/orders.png' %}">&nbsp;Orders</a>
            </nav>


            <div id="profile_badge">

                <button>
                    <img src="{% static 'seller/img/profile.png' %}"> &nbsp; <p>Mithun Raj</p>
                </button>

                

            </div>

        </header>

        <div id="container">



            <div class="products_seller">

                <br>

            <h1>Listed Products</h1>
            <hr style="width: 80px; height: 5px; background-color:black; border-radius: 10px; border: none;">

            <br>
            <br>

            <div class="producttable" style="background-color: rgb(193, 192, 192);">
                <div class="producttable_id">Product ID</div>
                <div class="producttable_name">Name</div>
                <div class="producttable_category">Category</div>
                <div class="producttable_price" style="border:none;">Price</div>
            </div>

            <br>
            <br>
            
            {% for product in products %}
            <a href="/seller/product_edit/{{product.product_id}}">
                <div class="producttable">
                    <div class="producttable_id">{{product.product_id}}</div> 
                    <div class="producttable_name">{{product.product_name}}</div>
                    <div class="producttable_category">{{product.category}}</div>
                    <div class="producttable_price" style="border:none;">Rs {{product.product_price}}</div>
                </div>
            </a>

            <br>
            {% endfor %}



            </div>

        </div>

        <footer>
            <p>All rights reserved.</p>
        </footer>

    </main>
    
</body>
</html>