{% extends 'seller/template.html' %}

{% block title %}Seller wallet{% endblock title %}

{% block body %}

            <div class="products_seller">

                <br>

            <h1>Wallet</h1>
            <hr style="width: 80px; height: 5px; background-color:black; border-radius: 10px; border: none;">

            <br>
            <br>

            <div class="wallet_amount">
                <div>
                    <h1>Current Balance</h1>
                    <hr>
                    <h2>Rs 35656</h2>
                </div>
                <div>
                    <h1>Ledger Balance</h1>
                    <hr>
                    <h2>Rs 35656</h2>
                </div>
            </div>

            <br>
            <br>

            <h1>Transactions</h1>
            <hr style="width: 80px; height: 5px; background-color:black; border-radius: 10px; border: none;">

            <br>
            <br>

            {% for transaction in transactions %}
                <a href="product.html">
                    <div class="producttable">
                        <div class="transaction_id">{{transaction.transaction_id}}</div> 
                        <div class="transaction_date">{{transaction.transaction_date}}</div>
                        <div class="transaction_amount">{{transaction.transaction_amount}}</div>
                        <div class="transaction_status" style="border:none;">{{transaction.transaction_status}}</div>
                    </div>
                </a>

                <br>
                <br>
            {% endfor %}
            

    
            <br><br><br><br>
{% endblock body %}