{% extends 'buyer/auth.html' %}
{% load static %}


{% block title %}
    Login: User   
{% endblock title %}

{% block body %}

<style>
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }
    /* .login-form {
        width:350px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        position:absolute;
        color:black;
    } */
    
    .header{
        min-height: 100vh;
        width:100%;
        background-position: center;
        background-size:cover;
        position:relative;
        color:white;
    }
    
    
    .row{
        margin-top: 100px;
    }
    
    .login-form h1{
        font-size:40px;
        margin:40px 0;
    }
    .login-form label{
        font-size:20px;
        margin:15px 0;
        
    }
    input{
        line-height: 1.5;
    }
    .login-form input{
        font-size: 16px;
        width:90%;
        margin:auto;
        padding:15px 10px;
        outline:none;
        border-radius: 5px;
    }
    
    .login-form button{
        font-size: 18px;
        font-weight:400;
        margin: 25px 0;
        padding: 10px 15px;
        width:30%;
        border-radius: 5px;
        border: 2px solid black;
        background-color: white;
    
    }
    body{
        background-color: #E7EBF2;
        height:100vh;
    }
    
    label{
        margin:15px 0;
        display: inline-block;
    
    }
    
    .navba{
        text-align: center;
        font-size:30px;
    }
    
    .top-container{
        text-align: center;
    }
    .button-area a{
        text-decoration: none;
        color:black;
        font-size:12px;
        padding:20px;
    }
    
    .textbox {
        color:white;
        width:90%;
        position: absolute;
        top:60%;
        left:50%;
        transform: translate(-50%,-50%);
        text-align: center;
    
    }
    
    .textbox h1{
        font-size: 65px;
        margin: 10px 0 40px;
    }
    
    .textbox p{
        margin:10px 0 40px;
        font-size:14px ;
        padding:0 20%;
    }
    
    .herobtn{
        text-decoration: none;
        border:2px solid white;
        color:white;
        padding:20px;
        border-radius: 10px;
        background: transparent;
        position:relative;
        margin:20px;
        font-size: 20px;
        cursor: pointer;
    }
    .herobtn a{
        text-decoration: none;
        color:black
        
    }
    
</style>

<div class="row">
    <div class="col-lg-6">
        <img class="login_image" src="{% static 'login/images/loginimage.png' %}" alt="">
    </div>
    <div class="col-lg-6">
    <div class="login-form">

    <h1>   User Login   </h1>
    
    <form action="{% url 'buyer_login' %}" method="post">
        {% csrf_token %}
        <label class="name"> User name</label>
        <input type="text" name="name" placeholder="Enter your username">

        <label class="name"> Password </label>
        <input type="password" name="psw" placeholder="Enter your password">

        <br>

        <button type="submit">Submit</button>
        
    </form>
</div>
</div>
</div>
</div>


{% endblock body %}