<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <main>

        <header>

            <a href="{% url 'buyer_index' %}" style="text-decoration:none;"><h1>SAFY<span style="font-size: 20px;">Pay</span></h1></a>

            <nav>
                <a href="{% url 'home_page' %}"><img src="{% static 'seller/img/home.png' %}">&nbsp;Home</a>
                <a href="{% url 'orders_page' %}"><img src="{% static 'seller/img/orders.png' %}">&nbsp;Orders</a>
                <a href="{% url 'wallet_page' %}"><img src="{% static 'seller/img/wallet.png' %}">&nbsp;Wallet</a>
            </nav>

            <div id="profile_badge">

                <button><p>Log out</p></button>

                

            </div>

        </header>

        <div id="container">
            {% block body %}{% endblock body %}
            

        </div>

        <footer>
            <p>All rights reserved.</p>
        </footer>

    </main>
    
</body>
</html>